.badDynamax {
    app-image-pokemon {
        opacity: 0.6;
    }
    background-color: rgb(255, 213, 197);
}

.selected {
    background-color: hsl(118 40 69);
}

.unreleased {
    app-image-pokemon {
        opacity: 0.6;
    }
    background-color: pink;
}
