@for (type of typesList; track $index) {
    <div
        [class]="type"
        style="
            display: flex;
            align-items: center;
            margin: 5px;
            border: rgb(136, 136, 136) solid 1px;
            border-radius: 10px;
            width: fit-content;
        "
    >
        <app-type [type]="type"></app-type>
        @for (damage of test.get(type); track $index) {
            <div
                [style.margin.px]="5"
                (click)="dynamaxStore.selectPokemon(damage)"
                [class.selected]="damage.isSelected"
                [class.badDynamax]="damage.isBadComparedToSelected"
                [class.unreleased]="!damage.dynamax.isRelease"
            >
                <div>
                    <app-image-pokemon [pokemon]="damage.dynamax.pokemon"></app-image-pokemon>
                </div>
                <div>
                    <app-type [type]="damage.typeAttack"></app-type>
                </div>
                <div
                    app-percent-color
                    [value]="damage.damage"
                    [maximumValue]="maxDamage"
                    [viewPercent]="true"
                    [style.width.px]="60"
                    [style.display]="'inline-block'"
                ></div>
            </div>
        }
    </div>
}
