<form
    class="modal"
    (ngSubmit)="save()"
>
    <h2>{{ folder() ? 'Modifier le dossier' : 'Ajouter un nouveau dossier' }}</h2>

    <div class="field">
        <label>Nom du dossier:</label>
        <input
            #labelInput
            type="text"
            [formField]="folderForm.label"
            placeholder="ex: Mes filtres PVP"
        />
        <p class="error">
            @if (folderForm.label().touched() && folderForm.label().invalid()) {
                @for (error of folderForm.label().errors(); track error) {
                    {{ error.message }}
                }
            }
        </p>
    </div>

    <div class="actions">
        <button
            type="button"
            (mousedown)="cancel()"
            class="abort"
        >
            Annuler
        </button>
        <button
            (click)="save()"
            type="submit"
            [class.disabled]="folderForm().invalid()"
        >
            {{ folder() ? 'Enregistrer' : 'Ajouter' }}
        </button>
    </div>
</form>
