<a routerLink="/">Accueil</a>
@if (event) {
<h1>{{ event.name }}</h1>
<table>
    <tbody>
        @for (location of event.savagePokemons; track $index) { @if(location.title) {
        <h2>{{ location.title }}</h2>
        } @for (savage of location.pokemons; track $index) {
        <tr>
            <td>
                <img
                    [src]="savage.image"
                    alt=""
                    style="max-height: 50px"
                />
                <!-- {{ savage.name }} -->
            </td>
            <td class="type">
                @for (type of savage.type; track $index) {

                <!-- <span>{{ type }}</span> -->
                <app-type [type]="type"></app-type>
                }
            </td>
            @for (mega of location.megas; track $index) {
            <td>
                @if (bddEvent.haveTypeInCommon(mega, savage)) {
                <img
                    [src]="mega.image"
                    alt=""
                    style="max-height: 50px"
                />
                <!-- {{ mega.name }} -->
                }
            </td>
            }
        </tr>
        } }
    </tbody>
</table>
}
