@if (group().title) {
    <tr>
        <td colspan="50">
            <div style="display: flex; align-items: center; gap: 10px">
                <h2>{{ store.title() }}</h2>
            </div>
        </td>
    </tr>
}
@if (viewTable()) {
    <!-- <button (click)="this.store.changeSortImplementation()">Switch système de tri</button> -->
    <button (click)="this.store.randomGroup()">Random</button>
    @for (savage of store.pokemons(); track $index) {
        <tr>
            <td [style.background]="savage.isRare ? 'hsl(0 80 60 / 0.5)' : 'transparent'">
                <app-image-pokemon [pokemon]="savage"></app-image-pokemon>
            </td>
            <td class="type">
                @for (type of savage.type; track $index) {
                    <app-type [type]="type"></app-type>
                }
            </td>
            @for (mega of store.megaPokemon(); track $index) {
                <td>
                    @if (eventRepository.haveTypeInCommon(mega, savage.pokemon)) {
                        <app-image-pokemon [pokemon]="mega"></app-image-pokemon>
                    }
                </td>
            }
        </tr>
    }
} @else {
    @for (megaGroup of store.getMegaGroups(); track $index) {
        <tr style="flex-wrap: nowrap; display: flex">
            <td>
                <app-image-pokemon [pokemon]="megaGroup.mega"></app-image-pokemon>
            </td>
            @for (pokemon of megaGroup.pokemonBoost; track $index) {
                <td>
                    <app-image-pokemon [pokemon]="pokemon"></app-image-pokemon>
                </td>
            }
        </tr>
    }
}
