<app-pokemon-search></app-pokemon-search>
@if (store.search()) {
    <h2>Pokemon recherché</h2>
} @else {
    <h2>Generation {{ store.generationSelected() }}</h2>
}
<details>
    <summary>Filtres PvP Rank 1</summary>

    <div class="filters-container">
        <button
            style="grid-column: span 2; width: fit-content"
            (click)="clipboardService.copyToClipboard(store.allRankFilter().allPokemon)"
        >
            Tout les pokemon
        </button>
        <div class="league-column">
            <h3>Great League</h3>
            @for (filter of store.allRankFilter().great; track filter.stats) {
                <button
                    (click)="copyFilter(filter, 'great')"
                    [style]="filter.isIncluded ? '' : 'background-color: coral'"
                >
                    {{ filter.stats.atq }}atq / {{ filter.stats.def }}def / {{ filter.stats.stamina }}pv
                    <span class="count">({{ filter.count }})</span>
                </button>
            }
        </div>

        <div class="league-column">
            <h3>Hyper League</h3>
            @for (filter of store.allRankFilter().ultra; track filter.stats) {
                <button
                    (click)="copyFilter(filter, 'ultra')"
                    [style]="filter.isIncluded ? '' : 'background-color: coral'"
                >
                    {{ filter.stats.atq }}atq / {{ filter.stats.def }}def / {{ filter.stats.stamina }}pv
                    <span class="count">({{ filter.count }})</span>
                </button>
            }
        </div>
    </div>
</details>
@for (pokemon of store.filteredPokemons(); track pokemon.slug) {
    <div class="test">
        <app-image-pokemon
            [pokemon]="pokemon"
            [height]="100"
            (click)="openModifyRankDialog(pokemon)"
        ></app-image-pokemon>
        <div>
            <span></span>
            <span>Ⓖ</span>
            <span>Ⓤ</span>
            <span>⚪</span>
            <span (click)="openModifyRankDialog(pokemon, 'super', 'normal')">
                {{ store.allRank().get(pokemon.slug)?.super?.normal ?? '' }}
            </span>
            <span (click)="openModifyRankDialog(pokemon, 'hyper', 'normal')">
                {{ store.allRank().get(pokemon.slug)?.hyper?.normal ?? '' }}
            </span>
            <span>⚫</span>
            <span (click)="openModifyRankDialog(pokemon, 'super', 'obscur')">
                {{ store.allRank().get(pokemon.slug)?.super?.obscur ?? '' }}
            </span>
            <span (click)="openModifyRankDialog(pokemon, 'hyper', 'obscur')">
                {{ store.allRank().get(pokemon.slug)?.hyper?.obscur ?? '' }}
            </span>
        </div>
    </div>
}

@if (showDialog()) {
    <app-modify-rank-dialog
        [league]="selectedLeague"
        [forme]="selectedForm"
        [pokemon]="selectedPokemon()"
        (closed)="onRankClosed()"
    ></app-modify-rank-dialog>
}
