<p>pvp-rank works!</p>
<div style="display: flex; gap: 0.375em; flex-wrap: wrap">
    @for (generation of [1, 2, 3, 4, 5, 6, 7, 8, 9]; track $index) {
        <button (click)="store.selectGeneration(generation)">Generation {{ generation }}</button>
    }
</div>
<br />
<label for="searchInput">Recherche :</label>
<input
    id="searchInput"
    #searchInput
    type="text"
    [value]="store.search()"
    (input)="store.setSearch($any($event.target).value)"
/>
@if (store.search()) {
    <h2>Pokemon recherché</h2>
} @else {
    <h2>Generation {{ store.generationSelected() }}</h2>
}
@for (pokemon of store.resultSelected(); track pokemon.slug) {
    <div class="test">
        <app-image-pokemon
            [pokemon]="pokemon"
            [height]="100"
            (click)="openModifyRankDialog(pokemon.slug)"
        ></app-image-pokemon>
        <div>
            <span></span>
            <span>Ⓖ</span>
            <span>Ⓤ</span>
            <span>⚪</span>
            <span (click)="openModifyRankDialog(pokemon.slug, 'super', 'normal')">
                {{ store.allRank().get(pokemon.slug)?.super?.normal ?? '' }}
            </span>
            <span (click)="openModifyRankDialog(pokemon.slug, 'hyper', 'normal')">
                {{ store.allRank().get(pokemon.slug)?.hyper?.normal ?? '' }}
            </span>
            <span>⚫</span>
            <span (click)="openModifyRankDialog(pokemon.slug, 'super', 'obscur')">
                {{ store.allRank().get(pokemon.slug)?.super?.obscur ?? '' }}
            </span>
            <span (click)="openModifyRankDialog(pokemon.slug, 'hyper', 'obscur')">
                {{ store.allRank().get(pokemon.slug)?.hyper?.obscur ?? '' }}
            </span>
        </div>
    </div>
}

@if (showDialog()) {
    <app-modify-rank-dialog
        [league]="selectedLeague"
        [form]="selectedForm"
        (submitted)="onRankSubmitted($event)"
        (cancelled)="onRankCancelled()"
    ></app-modify-rank-dialog>
}
