<app-pokemon-search></app-pokemon-search>
@if (store.search()) {
    <h2>Pokemon recherché</h2>
} @else {
    <h2>Generation {{ store.generationSelected() }}</h2>
}
@for (pokemon of store.resultSelected(); track pokemon.slug) {
    <div class="test">
        <app-image-pokemon
            [pokemon]="pokemon"
            [height]="100"
            (click)="openModifyRankDialog(pokemon.slug)"
        ></app-image-pokemon>
        <div>
            <span></span>
            <span>Ⓖ</span>
            <span>Ⓤ</span>
            <span>⚪</span>
            <span (click)="openModifyRankDialog(pokemon.slug, 'super', 'normal')">
                {{ store.allRank().get(pokemon.slug)?.super?.normal ?? '' }}
            </span>
            <span (click)="openModifyRankDialog(pokemon.slug, 'hyper', 'normal')">
                {{ store.allRank().get(pokemon.slug)?.hyper?.normal ?? '' }}
            </span>
            <span>⚫</span>
            <span (click)="openModifyRankDialog(pokemon.slug, 'super', 'obscur')">
                {{ store.allRank().get(pokemon.slug)?.super?.obscur ?? '' }}
            </span>
            <span (click)="openModifyRankDialog(pokemon.slug, 'hyper', 'obscur')">
                {{ store.allRank().get(pokemon.slug)?.hyper?.obscur ?? '' }}
            </span>
        </div>
    </div>
}

@if (showDialog()) {
    <app-modify-rank-dialog
        [league]="selectedLeague"
        [forme]="selectedForm"
        [pokemon]="selectedPokemon()"
        (submitted)="onRankSubmitted($event)"
        (cancelled)="onRankCancelled()"
    ></app-modify-rank-dialog>
}
