<table>
    <thead>
        <tr>
            <th></th>
            @for (defender of typesList; track defender) {
                <th>{{ defender }}</th>
            }
            <th>Effectiveness</th>
            <th>Double Effectiveness</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>My teams</td>
            @for (type of typesList; track type) {
                <td>
                    <input
                        type="checkbox"
                        [name]="type"
                        [id]="type"
                        [checked]="store.currentTeamBuilded().has(type)"
                        (change)="toggleTeam(type)"
                    />
                </td>
            }
            <td>
                {{ store.test().total }} /
                {{ store.base().total }}
            </td>
            <td>
                {{ store.testDouble().total }} /
                {{ store.baseDouble().total }}
            </td>
        </tr>

        @for (type1 of typesList; track type1) {
            <tr>
                <td>
                    <strong>{{ type1 }}</strong>
                </td>
                @for (type2 of typesList; track type2) {
                    <td>{{ store.pokemonTypeCount().get(type1)?.get(type2) }}</td>
                }
                <td>
                    {{ store.test().totalPerTypeDefensive.get(type1) }} /
                    {{ store.base().totalPerTypeDefensive.get(type1) }}
                </td>
                <td>
                    {{ store.testDouble().totalPerTypeDefensive.get(type1) }} /
                    {{ store.baseDouble().totalPerTypeDefensive.get(type1) }}
                </td>
            </tr>
        }
    </tbody>
</table>
