<div>
    <button (click)="copy('2-pv & 2-défense & -1attaque & ')">IV PVP</button>
</div>
<div>
    <button (click)="copy('2-attaque, -1défense & 2-attaque, -1pv & -1défense, -1pv & !# & âge0 & pc-100 & ')">
        Filtre level 1
    </button>
</div>
<div>
    <button (click)="copy('2-attaque, -1défense, -1pv, 0* & !# & âge0 & pc-100 & ')">Filtre level 2</button>
</div>
<div>
    <button (click)="copy('0*, 1*, 2* & !# & âge0 & pc-100 & ')">Filtre level 3</button>
</div>
<div>
    <button
        (click)="
            copy(
                'ratata,
                abra,
                chetiflor,
                cadoizo,
                gloupti,
                keunotor,
                munna,
                croquine,
                rongourmand,
                ronflex,
                caratroc,
                dodoala,
                verpom,
                ceribou,
                goinfrex & '
            )
        "
    >
        Découverte sucré
    </button>
</div>
<div>
    <button
        (click)="
            copy(
                'magicarpe,
                wailmer,
                tylton,
                trompignon,
                dedenne,
                bombydou,
                sovkipou,
                minisange,
                lillitrelle,
                ptiravi,
                mime jr,
                toxizap & '
            )
        "
    >
        Grandir et s"épanouir
    </button>
</div>
