<header style="display: flex; gap: 0.5em; flex-wrap: wrap">
    <a routerLink="/">Accueil</a>
    <a routerLink="/types">Types</a>
    <a routerLink="/keep">Liste</a>
    <a routerLink="/dynamax">Dynamax</a>
    <a routerLink="/infographic">Infographies</a>
    <a routerLink="/shop-packs">Packs</a>
    <a routerLink="/pvp-rank">PVP rank</a>
    <a routerLink="/stat-finder">Stat Finder</a>
    <a routerLink="/pokestop">pokestop</a>
</header>
@if (supabase.isLoggedIn()) {
    <div class="profile">
        <img
            [src]="supabase.currentUser()?.user_metadata?.['avatar_url']"
            alt=""
            class="avatar"
        />
        <span>{{ supabase.currentUser()?.user_metadata?.['full_name'] }}</span>
        <button (click)="logout()">Se déconnecter</button>
    </div>
} @else {
    <button (click)="login()">Se connecter avec Google</button>
}
<app-toast-container></app-toast-container>
<router-outlet />
