.profile {
    display: flex;
    align-items: center;
    gap: 8px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.buttonHeader {
    background-color: rgb(203, 230, 253);
    border-radius: 0.375em;
    padding: 0.125em 0.25em;
}
