<table>
    <thead>
        <tr>
            <th></th>
            <th>Efficacité</th>
            <th>Efficacité double</th>
            <th>Coverage</th>
            <th>Faibles</th>
            <th>Doubles-faibles</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><b>All</b></td>
            <td></td>
            <td></td>
            <td>
                <div
                    style="display: grid; place-items: center"
                    (click)="toggleTeamAll()"
                >
                    <input
                        type="checkbox"
                        name="allCoverage"
                        id="allCoverage"
                        [checked]="store.currentTeamBuilded().size === typesList.length"
                    />
                </div>
            </td>
            <td
                app-percent-color
                [value]="store.coverageTeam().total"
                [maximumValue]="store.coverageAllTypes().total"
            ></td>
            <td
                app-percent-color
                [value]="store.coverageTeamDouble().total"
                [maximumValue]="store.coverageAllTypesDouble().total"
            ></td>
        </tr>

        @for (type1 of typesList; track type1) {
            <tr>
                <td>
                    <app-type [type]="type1"></app-type>
                </td>
                <td>
                    {{ store.coverageTeam().totalPerTypeOffensive.get(type1) }}
                </td>
                <td>
                    {{ store.coverageTeamDouble().totalPerTypeOffensive.get(type1) }}
                </td>
                <td>
                    <div
                        style="display: grid; place-items: center"
                        (click)="toggleTeam(type1)"
                    >
                        <input
                            type="checkbox"
                            [name]="type1"
                            [checked]="store.currentTeamBuilded().has(type1)"
                        />
                    </div>
                </td>
                <td
                    app-percent-color
                    [value]="store.coverageTeam().totalPerTypeDefensive.get(type1)!"
                    [maximumValue]="store.coverageAllTypes().totalPerTypeDefensive.get(type1)!"
                ></td>
                <td
                    app-percent-color
                    [value]="store.coverageTeamDouble().totalPerTypeDefensive.get(type1)!"
                    [maximumValue]="store.coverageAllTypesDouble().totalPerTypeDefensive.get(type1)!"
                ></td>
            </tr>
        }
    </tbody>
</table>

<div style="display: grid; grid-template-columns: repeat(3, max-content)">
    @for (type of typesList; track $index) {
        <app-relation-type-component
            [id]="type"
            [currentType]="type"
            style="margin-block: 1em; display: grid; grid-template-columns: subgrid; grid-column: span 3"
        ></app-relation-type-component>
    }
</div>
