<div
    style="display: flex; gap: 0.375em; flex-wrap: wrap"
    swipeGesture
    (swipeLeft)="store.incrementGeneration()"
    (swipeRight)="store.decrementGeneration()"
>
    @for (generation of generations; track $index) {
        <button (click)="store.selectGeneration(generation)">Generation {{ generation }}</button>
    }
</div>
<br />
<!-- prettier-ignore -->
<label for="searchInput">Recherche : </label>
<input
    id="searchInput"
    #searchInput
    type="text"
    [(ngModel)]="search"
/>
<button (click)="reset()">Reset</button>
