<div>
    <button (click)="shareList()">🔗 Partager liste</button>
    <br />
</div>
<br />
<form (submit)="addList()">
    <div>
        <input
            type="text"
            [formField]="addListForm.listName"
        />
        <button type="submit">Ajouter liste</button>
    </div>
    <button
        type="button"
        (click)="store.deleteSelectedList()"
    >
        supprimer liste actuelle
    </button>
</form>
<br />
<select
    name="Liste"
    id="Liste"
    (change)="store.selectList($event)"
>
    @for (item of store.listEntries(); track $index) {
        <option
            [value]="item.slug"
            [selected]="store.selectedListKey() === item.slug"
        >
            {{ item.label }}
        </option>
    }
</select>
<div style="margin-block: 0.5em">
    <span style="margin-right: 0.5em">
        <button (click)="clipboardService.copyToClipboard(filterAll())">Copie base</button>
    </span>
    <span>
        <button (click)="clipboardService.copyToClipboard(filterNeither())">Copie inversé</button>
    </span>
</div>

<app-pokemon-search></app-pokemon-search>

@if (store.search()) {
    <h2>Pokemon recherché</h2>
} @else {
    <h2>Generation {{ store.generationSelected() }}</h2>
}
@for (pokemon of store.resultSelected(); track pokemon.id) {
    <app-image-pokemon
        [pokemon]="pokemon"
        [height]="75"
        (click)="store.selectPokemon(pokemon)"
        [class.selected]="store.selectedPokemonWantKeep().has(pokemon)"
    ></app-image-pokemon>
}

<h2>Pokemon sélectionné</h2>
<button (click)="store.unselectAll()">Reset</button>
@for (generation of [1, 2, 3, 4, 5, 6, 7, 8, 9]; track $index) {
    @if (store.actualListPokemonMap().has(generation) && store.actualListPokemonMap().get(generation)?.length !== 0) {
        <h3>Generation {{ generation }}</h3>
        @for (pokemon of store.actualListPokemonMap().get(generation); track $index) {
            <app-image-pokemon
                [pokemon]="pokemon"
                [height]="75"
                (click)="store.selectPokemon(pokemon)"
            ></app-image-pokemon>
        }
    }
}
