/* You can add global styles to this file, and also import other style files */
:root {
    --color-acier: 240 20% 77%;
    --color-combat: 3 66% 45%;
    --color-dragon: 258 93% 60%;
    --color-eau: 222 82% 67%;
    --color-electrik: 48 93% 58%;
    --color-fee: 347 71% 77%;
    --color-feu: 25 86% 56%;
    --color-glace: 180 45% 72%;
    --color-insecte: 66 70% 42%;
    --color-normal: 60 22% 56%;
    --color-plante: 100 52% 55%;
    --color-poison: 300 43% 44%;
    --color-psy: 342 92% 66%;
    --color-roche: 49 53% 47%;
    --color-sol: 44 66% 64%;
    --color-spectre: 263 27% 47%;
    --color-tenebres: 23 12% 58%;
    --color-vol: 255 76% 75%;
}

.Acier {
    background-color: hsl(var(--color-acier) / 0.15);
}
.Combat {
    background-color: hsl(var(--color-combat) / 0.15);
}
.Dragon {
    background-color: hsl(var(--color-dragon) / 0.15);
}
.Eau {
    background-color: hsl(var(--color-eau) / 0.15);
}
.Électrik {
    background-color: hsl(var(--color-electrik) / 0.15);
}
.Fée {
    background-color: hsl(var(--color-fee) / 0.15);
}
.Feu {
    background-color: hsl(var(--color-feu) / 0.15);
}
.Glace {
    background-color: hsl(var(--color-glace) / 0.15);
}
.Insecte {
    background-color: hsl(var(--color-insecte) / 0.15);
}
.Normal {
    background-color: hsl(var(--color-normal) / 0.15);
}
.Plante {
    background-color: hsl(var(--color-plante) / 0.15);
}
.Poison {
    background-color: hsl(var(--color-poison) / 0.15);
}
.Psy {
    background-color: hsl(var(--color-psy) / 0.15);
}
.Roche {
    background-color: hsl(var(--color-roche) / 0.15);
}
.Sol {
    background-color: hsl(var(--color-sol) / 0.15);
}
.Spectre {
    background-color: hsl(var(--color-spectre) / 0.15);
}
.Ténèbres {
    background-color: hsl(var(--color-tenebres) / 0.15);
}
.Vol {
    background-color: hsl(var(--color-vol) / 0.15);
}

:root {
    --spacer: 0.2em; /* affect margin padding .btn */
    --background-color: hsla(0, 0%, 0%, 0);

    --success-color: hsl(120 100% 25%);
    --success-color-text: hsl(0, 0%, 0%);

    --danger-color: hsl(0 90% 40%);
    --danger-color-text: hsl(0, 0%, 0%);

    --warning-color: hsl(40 90% 40%);
    --warning-color-text: hsl(0, 0%, 0%);

    --light-color: rgb(230 230 230);
    --light-color-text: rgb(37, 37, 37);

    --dark-color: rgb(20 20 20);
    --dark-color-text: rgb(245, 245, 245);

    --primary-color: hsl(200, 84%, 48%);
    --primary-color-text: hsl(0, 0%, 0%);

    --secondary-color: hsl(85, 100%, 55%);
    --secondary-color-text: hsl(0, 0%, 0%);
    --secondary-color-dark-background: hsl(85, 100%, 25%);

    --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
    --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
    --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
    --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
    --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
    --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
    --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);
}
a {
    text-decoration: none;
}
input {
    border: 3px solid;
    margin-block: 0.2em;
    border-radius: 5px;
    padding-inline: 0.2em;
    --_color-input: black;
    border-color: var(--_color-input);
    &:valid {
        --_color-input: var(--success-color);
    }
    &:invalid {
        --_color-input: var(--danger-color);
    }
    &:focus {
        box-shadow: 0 0 10px 2px var(--_color-input, black);
    }
    &:focus:invalid {
        --_color-input: var(--warning-color);
    }
    outline: none;
}
.error {
    color: var(--danger-color);
}

/* styles.css (global, pas dans un composant) */
.cdk-drag-preview {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
}

.cdk-drag-placeholder {
    opacity: 0.3;
    border: 2px dashed #ccc;
    border-radius: 16px;
}

.cdk-drag-animating {
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}
