<div>
    <button (click)="store.exportKeepPokemon()">Télécharger liste</button>
    <br />
    <input
        type="file"
        multiple
        accept=".json"
        (change)="store.onFilesSelected($event)"
    />
</div>
<br />
<form (submit)="store.addList(newListName.value)">
    <div>
        <input
            type="text"
            #newListName
        />
        <button type="submit">Ajouter liste</button>
    </div>
    <button
        type="button"
        (click)="store.deleteSelectedList()"
    >
        supprimer liste actuelle
    </button>
</form>
<br />
<select
    name="Liste"
    id="Liste"
    (change)="store.selectList($event)"
>
    @for (item of store.listName(); track $index) {
        <option
            [value]="item"
            [selected]="store.selectedListName() === item"
        >
            {{ item }}
        </option>
    }
</select>
<p>
    <button (click)="clipboardService.copyToClipboard(filterAll())">Copie filtre tout les Pokémon sélectionné</button>
</p>
<p>
    <button (click)="clipboardService.copyToClipboard(filterNeither())">Copie filtre tout les Pokémon non sélectionné</button>
</p>
<div style="display: flex; gap: 0.375em; flex-wrap: wrap">
    @for (generation of [1, 2, 3, 4, 5, 6, 7, 8, 9]; track $index) {
        <button (click)="store.selectGeneration(generation)">Generation {{ generation }}</button>
    }
</div>
<br />
<label for="searchInput">Recherche :</label>
<input
    id="searchInput"
    #searchInput
    type="text"
    [value]="store.search()"
    (input)="store.setSearch($any($event.target).value)"
/>
<button (click)="store.setSearch('')">Reset</button>

@if (store.search()) {
    <h2>Pokemon recherché</h2>
} @else {
    <h2>Generation {{ store.generationSelected() }}</h2>
}
@for (pokemon of store.resultSelected(); track pokemon.id) {
    <app-image-pokemon
        [pokemon]="pokemon"
        [height]="75"
        (click)="store.selectPokemon(pokemon)"
        [class.selected]="store.selectedPokemonWantKeep().has(pokemon)"
    ></app-image-pokemon>
}
<h2>Pokemon sélectionné</h2>
<button (click)="store.unselectAll()">Reset</button>
@for (generation of [1, 2, 3, 4, 5, 6, 7, 8, 9]; track $index) {
    @if (store.pokemonWantKeepMap().has(generation) && store.pokemonWantKeepMap().get(generation)?.length !== 0) {
        <h3>Generation {{ generation }}</h3>
        @for (pokemon of store.pokemonWantKeepMap().get(generation); track $index) {
            <app-image-pokemon
                [pokemon]="pokemon"
                [height]="75"
                (click)="store.selectPokemon(pokemon)"
            ></app-image-pokemon>
        }
    }
}
