<div>
    @for (generation of [1, 2, 3, 4, 5, 6, 7, 8, 9]; track $index) {
        <button (click)="store.selectGeneration(generation)">Generation {{ generation }}</button>
    }
    <button (click)="store.exportKeepPokemon()">Télécharger liste</button>
    <br />
    <input
        type="file"
        multiple
        accept=".json"
        (change)="store.onFilesSelected($event)"
    />
</div>
<br />
<label for="searchInput">Recherche :</label>
<input
    id="searchInput"
    #searchInput
    type="text"
    [value]="store.search()"
    (input)="store.setSearch($any($event.target).value)"
/>
<button (click)="store.setSearch('')">Reset</button>

@if (store.search()) {
    <h2>Pokemon recherché</h2>
} @else {
    <h2>Generation {{ store.generationSelected() }}</h2>
}
@for (pokemon of store.resultSelected(); track pokemon.id) {
    <img
        [src]="pokemon.image"
        [alt]="pokemon.name"
        [title]="pokemon.name"
        loading="lazy"
        style="height: 75px; aspect-ratio: 1"
        (click)="store.selectPokemon(pokemon)"
        [class.selected]="store.pokemonWantKeep().has(pokemon)"
    />
}
<h2>Pokemon sélectionné</h2>
<button (click)="store.unselectAll()">Reset</button>
@for (generation of [1, 2, 3, 4, 5, 6, 7, 8, 9]; track $index) {
    @if (store.pokemonWantKeepMap()[generation] && store.pokemonWantKeepMap()[generation].length !== 0) {
        <h3>Generation {{ generation }}</h3>
        @for (pokemon of store.pokemonWantKeepMap()[generation]; track $index) {
            <img
                [src]="pokemon.image"
                [alt]="pokemon.name"
                [title]="pokemon.name"
                loading="lazy"
                style="height: 75px; aspect-ratio: 1"
                (click)="store.selectPokemon(pokemon)"
            />
        }
    }
}
